body {
   font-family: 'Roboto', sans-serif;
   background-color: white;
}

.rotate90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.new-link{
  color: black;
}

.logo-title, .jumbotron h1 {
  font-family: 'Pacifico';
}

.navbar-brand {
  font-family: 'Pacifico';
}

.jumbotron {
  width: 100%;
  min-height: 650px;
  display: table;
  color: white;
  background-image: url("pictures/japanese_landscape_portfolio.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
}

.jumbotron > .container {
  padding-left: 128px;
  display: table-cell;
  vertical-align: top;
}

.jumbotron h1 {
  padding: 0;
  position: relative;
  display: inline-block;
  text-shadow: 1px 1px 9px black;
  color: #FBFCFC;
  font-size: 80px;

}

.jumbotron h2 {
  padding-top: 20px;
  margin: 0;
  letter-spacing: -1px;
  color: #FBFCFC;
  
}

.jumbotron h2, .jumbotron p {
  text-shadow: 0px 1px 0px black;
  max-width: 18em;
  font-weight: 400;
}

.greeting {
  font-family: 'Pacifico';
  color: green; 
}

#mainB2 {
  background-color: transparent;
  border: 3px solid #FBFCFC;
  color: #FBFCFC;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 50px; 
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}

#mainB2:hover {
  background-color: #0056b3;
}

.actions li {
  display: inline;
  list-style-type: none;
  padding-right: 5px;
  font-size: 19px;
}

.social-nav {
  padding: 0;
  list-style: none;
  display: inline-block;
  margin: 10px auto;
}

.social-nav li {
  display: inline-block;
}

.social-nav a {
  display: inline-block;
  float: left;
  width: 48px;
  height: 48px;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  line-height: 48px;
  background: #000;
  position: relative;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.model-1 li {
  margin: 0 2px;
}

.model-1 a {
  background: #fff;
  -moz-transition: -moz-transform 1s, background 0.4s;
  -o-transition: -o-transform 1s, background 0.4s;
  -webkit-transition: -webkit-transform 1s, background 0.4s;
  transition: transform 1s, background 0.4s;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.model-1 a:hover {
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.model-1 .linkedin {
  color: #007BB6;
}

.thumbnail-header {
    background-color: #eaeff4;
    display: block;
    height: 20px;
    width: 100%;
}

.thumbnail {
    border: 0;
    border-radius: 0;
    max-height: 240px;
    padding: 0;
    overflow: hidden;
}

.project, .project:hover {
    color: #000;
    margin: 30px 0 40px;
    text-decoration: none;
    transition: color .5s;
}


.project p {
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    max-height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.jumbotron .container {
    margin: 80px 0;
}

.thumbnail-header-btn {
    background-color: #fff;
    border-radius: 100%;
    float: left;
    height: 10px;
    margin: 5px 0 0 5px;
    width: 10px;
}

.container .port {
  padding: 0 200px 0 280px;
    width: 100%;
  margin: 80px 0;
}

.mains .container {
    margin: 80px;
   
}

.main .container {
    margin: 80px;
    padding: 0px 200px 0 280px;
  
}

.about .thumbnail {
    max-height: 400px;
}

.social_media ul  {
  margin-bottom: 500px; 
  
}


.footer {
    text-align: center;
   }

.social_media li {
    display: inline-block;
    height: 24px;
    margin: 0 0 0 10px;
    text-align: left;
    text-indent: -9999px;
    width: 24px;
    
}

.social_media li a {
    display: block;
    height: 24px;
    width: 24px;
}


.linkedin {
    background: url("pictures/linked-in-logo.png"); 
    background-position: center center;
}

.github {
  background: url("pictures/github_logo.png");
  background-position: center center; 
}

.nav {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 992px) {
	.navbar-nav {
		padding-top: 7px;
		padding-left: 12px;
	}
  
	.navbar-nav .nav-item {
		float: none;
	}
  
	.navbar-brand {
		float: right;
	}
  
	.navbar-brand,
	.navbar-nav .nav-item {
		display: block;
	}
  
	.navbar-nav .nav-item + .nav-item {
		margin-left: 0;
	}
  
	.dropdown-menu {
		position: relative;
		float: none;
	}
}
